<section class="content-header">
</section>

<section class="content">
  <section class="invoice">

    <form [formGroup]="orderForm" novalidate>
      <div class="row">
        <div class="col-xs-12">
          <h2 class="page-header">
            <i class="fa fa-shopping-cart"></i> Finalize o seu pedido
          </h2>
        </div>
      </div>


      <div class="row">
        <div class="col-xs-12">
          <p class="lead"> Seus dados:</p>
        </div>
        <div class="col-sm-6 col-xs-12">
          <mt-input-container errorMessage="Campo obrigatorio e com 5 caractereSs" label="name">
            <input class="form-control" placeholder="name" formControlName="name" autocomplete="off">
          </mt-input-container>
        </div>
        <div class="col-sm-2 col-xs-6">
          <mt-input-container errorMessage="Numero obrigatorio" label="E-mail">
            <input type="text" class="form-control" formControlName="email" placeholder="e-mail" autocomplete="off">
          </mt-input-container>
        </div>
        <div class="col-sm-4 col-xs-6">
          <mt-input-container errorMessage="Email invalido" label="emailConfirmation">
            <input type="text" class="form-control" formControlName="emailConfirm" placeholder="Email Confirmação" autocomplete="off">
          </mt-input-container>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <p class="lead">Endereço de Entrega:</p>
        </div>
        <div class="col-sm-6 col-xs-12">
          <mt-input-container errorMessage="Campo obrigatorio e com 5 caractereSs" label="address">
            <input class="form-control" placeholder="Endereço" formControlName="address" autocomplete="off">
          </mt-input-container>
        </div>
        <div class="col-sm-2 col-xs-6">
          <mt-input-container errorMessage="Numero obrigatorio" label="Numero">
            <input type="text" class="form-control" placeholder="Número" pattern="^[0-9]*$" formControlName="number" autocomplete="off">
          </mt-input-container>
        </div>
        <div class="col-sm-4 col-xs-6">
          <mt-input-container errorMessage="Campo complemento com erro" label="Complemento">
            <input type="text" class="form-control" placeholder="Complemento" formControlName="optionalAddress" autocomplete="off">
          </mt-input-container>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

      <!-- Table row -->
      <div class="row">
        <div class="col-xs-12">
          <p class="lead">Itens do Pedido:</p>
        </div>
        <mt-order-item [items]="cartItems()" (increaseQty)="increaseQty($event)" (decreaseQty)="decreaseQty($event)" (remove)="remove($event)"></mt-order-item>
      </div>
      <!-- /.row -->

      <div class="row">
        <!-- accepted payments column -->
        <div class="col-sm-6 col-xs-12">
          <p class="lead">Formas de Pagamento:</p>

          <div class="form-group">
            <mt-radio [options]="paymentOptions" formControlName="paymentOption"></mt-radio>
          </div>

        </div>
        <!-- /.col -->
        <div class="col-sm-6 col-xs-12">
          <p class="lead">Frete e Total:</p>

          <mt-delivery-costs [delivery]="delivery" [itemsValue]="itemsValue()"></mt-delivery-costs>

        </div>
        <!-- /.col -->
      </div>

    </form>

    <div class="row">
      <div class="col-xs-12">
        <button (click)="checkOrder(orderForm.value)" class="btn btn-success pull-rigth" [disabled]="!orderForm.valid || cartItems().length === 0">
          <i class="fa fa-credit-card"></i> Concluir Pedido
        </button>
      </div>
    </div>

  </section>
</section>