<section class="content-header">
  <h1>
    Todos os Pedidos
    <a (click)="toggleSearch()" class="search-link pull-right"><i class="fa fa-search"></i></a>
  </h1>

  <div class="row">
    <div class="col-xs-12 search-bar" [@toggleSearch]="searchBarState">
      <form [formGroup]="searchForm">
        <div class="form-group">
          <input type="text" formControlName="searchControl" class="form-control" placeholder="O que você esta procurando?">
        </div>
      </form>
    </div>
  </div>

</section>


<section class="content">

  <div *ngFor="let restaurant of restaurants" class="col-sm-6 col-xs-12">
    <mt-restaurant [restaurant]="restaurant"></mt-restaurant>
  </div>

</section>
