.snackbar {
    min-width: 250;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index:  1;
    left: 50%;
    bottom: 30px;
}