<!-- INÍCIO DO CONTEÚDO -->
<section class="content-header"></section>

<section class="content">

  <div class="jumbotron welcome-jumbotron">
    <span class="place-info-box-icon" aling="center">
      <img src="assets/img/supremo.jpg" />
    </span>
      <p>
        O melhor no que faz!
      </p>
      <a class="btn btn-primary btn-lg" [routerLink]="['/restaurants']">Novo Pedido</a>
  </div>

</section>
<!-- FIM DO CONTEÚDO -->
